body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/keith-misner-h0Vxgz5tyXA-unsplash.jpg") center/cover
    no-repeat;
}
.image {
  min-height: 70vh;
  flex: 0 0 80%;
  background: url("img/img0.jpg") center/cover no-repeat;
  border-radius: 20px;
  position: relative;
}
button {
  display: inline-block;
  background: whitesmoke;
  color: black;
  border: 3px solid green;
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
button:active {
  background: grey;
  box-shadow: 1px 1px grey;
}

#previousBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
#nextBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -20%);
}
